<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-center" style="margin-top: 30px;" class="mx-auto">
          <div class="card-body">
            
            <br>
            <br>
            Bienvenue dans Votre Espace<h5>Vous êtes Connecter comme Admin-App</h5>
       
            <h6> ``Découvrez une gestion simplifiée de vos serveurs grâce à notre plateforme tout-en-un, 
              incluant des statistiques détaillées et un accès facile à toutes les informations nécessaires pour 
              vous permettre une expérience utilisateur optimale.``
              </h6>
             
              <br>
              <br>
     
          </div>
        </div>
      </div>
    </div>
  </div>