<br>
<h1><i class="bi bi-search"></i> Chercher un Serveur à Consulter</h1>
<br>
<div class="col-sm-12 col-md-6 col-lg-4 mb-3">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 40px;">
    <div class="input-group mb-3 mx-3" style="width: 100%;">
      <input type="text" class="form-control custom-input" placeholder="Tapez le Nom du Serveur" aria-describedby="button-addon2" [(ngModel)]="Nom_Serveur">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary custom-btn" type="button" id="button-addon2" (click)="onChercherClick()">Chercher</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
    </div>
  </div>
</div>