<br>
<div class="row">
    <div class="col-md-3">
      <div class="custom-card">
        <div class="card-body">
          <h5>Consulter <u>{{serveur.Nom_Serveur}}</u> :</h5>
          <p class="card-text">IP: {{serveur.IP}}</p>
          <p class="card-text">Créateur: {{serveur.Createur}}</p>
          <p class="card-text">Zone de Stockage: {{serveur.Zone_de_Stockage}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex">
      <div class="flex-column">
        <canvas id="memChart"></canvas>
      </div>
      <div class="flex-column">
        <canvas id="diskChart"></canvas>
      </div>
      <div class="flex-column">
        <canvas id="areaChart"></canvas>
      </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-2" >
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="dem(serveur.id)">Démarrer</button>
        </div>
        <div class="col-md-2">
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="arr(serveur.id)">Arrêter</button>
        </div>
        <div class="col-md-2">
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-secondary btn-lg btn-block">Bureau à Distance</button>
          </div>
          <div class="col-md-2">
            <br>
            <br>
            <br>
          <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="Retour()">Retour</button>
          <br>
          <br><br>
          <br><br>
          <br>
        </div>
      </div>