<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3" *ngFor="let serveur of serveurArray">
      <div class="custom-card">
        <div class="card-body">
          <h5 class="card-title">{{serveur.Nom_Serveur}}</h5>
          <p class="card-text">IP: {{serveur.IP}} </p>
          <p class="card-text">Mémoire Totale: {{serveur.Memoire_totale}}GB</p>
          <p class="card-text">Mémoire Utilisé: {{serveur.Memoire_utilise}}%</p>
          <p class="card-text">Disque Totale: {{serveur.disque_totale}}GB</p>
          <p class="card-text">Disque Utilisé: {{serveur.disque_utilise}}%</p>
        </div>
      </div>
    </div>
  </div>